<div class="container" appResizable (width)="setWidth($event)" (height)="setHeight($event)" (top)="setTop($event)"
     (left)="setLeft($event)" (resizing)="setResizing($event)" (dragging)="setDragging($event)"
     [leftOuterBoundary]="leftBoundary" [bottomOuterBoundary]="bottomBoundary" [topOuterBoundary]="topBoundary" [rightOuterBoundary]="rightBoundary">
  <div class="content">
    <p *ngIf="resizing">w: {{width}} / h: {{height}}</p>
    <p *ngIf="dragging">x: {{left}} / y: {{top}}</p>
  </div>
</div>
<div class="hrule top" *ngIf="showBoundaries" appBorder="top" [boundary]="top" (pos)="setBoundary('top', $event)"></div>
<div class="hrule bottom" *ngIf="showBoundaries" appBorder="bottom" [boundary]="top + height" (pos)="setBoundary('bottom', $event)"></div>
<div class="vrule left" *ngIf="showBoundaries" appBorder="left" [boundary]="left" (pos)="setBoundary('left', $event)"></div>
<div class="vrule right" *ngIf="showBoundaries" appBorder="right" [boundary]="left + width" (pos)="setBoundary('right', $event)"></div>
