div {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 50px;
  top: 50px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #9addff;
  border: 3px #c8c8c8 solid;
  border-radius:5px;
  box-sizing: border-box;
}

div * {
  user-select: none;
}
