div.container {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 100px;
  top: 100px;
  background-color: #9addff;
  border: 3px #c8c8c8 solid;
  border-radius: 5px;
  box-sizing: border-box;
}

div.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div * {
  user-select: none;
}
